html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

address {
  font-style: normal;
  font:inherit;
}

/* Roboto - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-size: 62.5%;
}

body{
  font-size: var( --fs-14);
  font-family: 'Roboto', sans-serif;
  color: var(--base-color);
}

@media (min-width:1024px) {
  body{
    font-size: var( --fs-16);
  } 
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.clear:after {
  /* 자식이 모두 float 을 사용할때 부모가 높이를 갖게하기 위함 */
  content: "";
  display: block;
  clear: both;
  *zoom: 1;
  /* IE8 이하버전 대응 */
}