/* animation 들어갈 자리 */
main {
  width: 100%;
  margin-top: 28px;
}

/* border 공통 */
section ul li>div {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

/* 전문분야 */
.category ul li {
  display: flex;
  flex-direction: column;
}

.category ul li div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon>img {
  width: 80%;
  min-width: 160px;
  max-width: 300px;
}

.text span {
  text-align: center;
  display: inline-block;
  margin-bottom: 8px;
  font-size: var(--fs-18);
  font-weight: 700;
  color: var(--point-color);
}

.text p {
  font-size: var(--fs-14);
  line-height: 20px;
  padding: 2rem;
}

.mainService {
  margin-top: 6rem;
}

.mainService ul li h4 {
  font-size: var(--fs-18);
  color: var(--grey-color);
  font-weight: bold;
  line-height: 28px;
}

/* Main Service */
.mainService ul li {
  border: 0.279392px solid var(--point-color);
  box-sizing: border-box;
  box-shadow: 2.23513px 2.23513px 2.23513px rgba(0, 0, 0, 0.01);
  border-radius: 4.47027px;
  padding: 10% 20px;
  margin-bottom: 15%;
  flex: 1;
}

.mainService ul li a {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mainService ul li figure {
  text-align: center;
  width: 100%;
  height: 8rem;
  margin-bottom: 30px;
  display: inline-block;
}

.mainService ul li figure img {
  height: 100%;
}

.mainService ul li p {
  margin: 10% 0;
  font-size: var(--fs-14);
  line-height: 20px;
  color: var(--grey-color);
}

.mainService ul a>img {
  position: absolute;
  bottom: 0;
  width: 6%;
  transition: all 0.3s;
}

.mainService ul li:hover a>img {
  transform: translateX(20px);
}

/* Mediaquery */
@media (min-width: 1024px) {
  section {
    margin-top: 20%;
  }

  .category ul li {
    display: flex;
    flex-direction: row;
  }

  .category ul li>div {
    flex-direction: row;
    align-items: flex-start;
    padding: 2% 0;
  }

  .category ul li div:first-of-type {
    flex: 1;
    margin-right: 20px;
  }

  .mainService ul {
    display: flex;
    margin-top: 5%;
  }

  .mainService ul li {
    padding: 3% 20px;
  }

  .mainService ul li:not(:last-child) {
    margin-right: 16px;
  }

  .mainService ul li p {
    font-size: var(--fs-18);
    line-height: 1.5;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3.2rem;
  }

  .text span {
    font-size: var(--fs-20);
  }

  .text p {
    font-size: var(--fs-18);
    line-height: 1.5;
  }

  .mainService ul li h4 {
    font-size: var(--fs-24);
  }

}