main {
  margin: 5rem 0 4rem;
  aspect-ratio: 2/1;
  width: 100%;
  display: flex;
}

main svg {
  position: relative;
  width: 100%;
  height: 120%;
}

#main-banner>path,
#main-banner>g {
  animation-fill-mode: both;
}

#cir1 {
  opacity: 0;
  animation: cir1 0.3s ease-in-out;
  transform-origin: 0% 15%;
}

#line1 {
  visibility: hidden;
  animation: line1 0.3s ease-in;
  transform-origin: 5% 15%;
  animation-delay: 0.3s;
}

#cir2 {
  animation: scale 0.3s ease;
  transform-origin: 35% 15%;
  animation-delay: 0.3s;
}

#arrow1 {
  animation: scale 0.3s ease;
  transform-origin: 35% 15%;
  animation-delay: 1.2s;
}

#cir3 {
  animation: scale 0.3s ease-in-out;
  transform-origin: 43% 20%;
  animation-delay: 1.8s;
}

#cir4 {
  animation: scale 0.3s ease;
  transform-origin: 45% 15%;
  animation-delay: 1.5s;
}

#cir5 {
  animation: scale 0.3s ease;
  transform-origin: 20% 50%;
  animation-delay: 0.3s;
}

#cross {
  animation: scale 0.3s ease;
  transform-origin: 26% 50%;
  animation-delay: 0.8s;
}

#cir6 {
  animation: scale 0.3s ease;
  transform-origin: 32% 50%;
  animation-delay: 1.2s;
}

#alphabet-p {
  animation: scale 0.3s ease;
  transform-origin: 53% 23%;
  animation-delay: 1.2s;
}

#alphabet-l {
  visibility: hidden;
  animation: alphabet-l 0.3s ease;
  animation-delay: 1.5s;
}

#alphabet-a {
  animation: alphabet-a 0.8s ease;
  transform-origin: 90% 23%;
  animation-delay: 1.4s;
}

#rec2 {
  animation: moveUp 0.5s ease;
  animation-delay: 1.5s;
}

#rec3 {
  animation: moveUp 0.5s ease;
  animation-delay: 2s;
}

#tri1,
#tri2,
#tri3,
#alphabet-d,
#alphabet-l3,
#alphabet-e3  {
  visibility: visible;
}
#rec1 {
  animation: moveUp 0.8s ease;
  animation-delay: 2.2s;
}
#rec9 {
  animation: moveDown 0.8s ease;
  animation-delay: 2.2s;
}

#rec4 {
  animation: moveDown 0.5s ease;
  animation-delay: 2.8s;
}

#rec5 {
  animation: moveDown 0.5s ease;
  animation-delay: 3.3s;
}

#rec6 {
  animation: moveDown 0.5s ease;
  animation-delay: 3.8s;
}

#alphabet-s,
#alphabet-i,
#alphabet-g,
#alphabet-n_2 {
  animation: sign 1s ease;
  animation-delay: 2s;
}

#alphabet-s {
  transform-origin: 42% 55%;
}

#alphabet-i {
  transform-origin: 47% 55%;
}

#alphabet-g {
  transform-origin: 52% 55%;
}

#alphabet-n_2 {
  transform-origin: 52% 55%;
}

#arrow2 {
  animation: scale 0.3s ease;
  transform-origin: 65% 55%;
  animation-delay: 2.6s;
}

#balloon {
  animation: balloon 0.5s ease;
  transform-origin: 2% 100%;
  animation-delay: 1.5s;
}

#cir7 {
  animation: scale 0.3s ease;
  transform-origin: 8.5% 85%;
  animation-delay: 2s;
}

#cir8 {
  animation: scale 0.3s ease;
  transform-origin: 8.5% 85%;
  animation-delay: 2.3s;
}

#cir9 {
  animation: cir9 0.8s ease;
  transform-origin: 20% 85%;
  animation-delay: 3s;
}

#line2 {
  visibility: hidden;
  animation: line2 0.3s ease;
  animation-delay: 2.6s;
}

#cir10 {
  animation: scale 0.3s ease;
  transform-origin: 25% 85%;
  animation-delay: 3.2s;
}

#line3 {
  animation: line3 0.5s ease;
  transform-origin: 25% 85%;
  animation-delay: 3.5s;
}

#cir12 {
  animation: cir12 0.8s ease;
  transform-origin: 28% 75%;
  animation-delay: 4s;
}

#cir13 {
  animation: scale 1s ease;
  transform-origin: 35% 85%;
  animation-delay: 4.3s;
}

#alphabet-d_2 {
  animation: scale 0.3s ease;
  transform-origin: 50% 90%;
  animation-delay: 2.6s;
}

#alphabet-e2 {
  visibility: hidden;
  animation: alphabet-e2 0.5s ease;
  animation-delay: 3s;
}

#alphabet-v {
  animation: alphabet-v 0.8s ease;
  transform-origin: 67% 85%;
  animation-delay: 3.3s;
}

#rec7 {
  animation: moveDown 0.3s ease;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
}


#rec8 {
  animation: moveDown 0.3s ease;
  animation-delay: 3.9s;
  animation-fill-mode: forwards;
}

#alphabet-o {
  animation: scale 0.2s ease;
  transform-origin: 87.5% 85%;
  animation-delay: 4.3s;
}

#alphabet-p2 {
  animation: scale 0.2s ease;
  transform-origin: 92% 92%;
  animation-delay: 4.5s;
}

#line6 {
  visibility: hidden;
  animation: line6 0.8s ease;
  animation-delay: 3s;
}

@keyframes scale {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100px);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100px);
  }
}

@keyframes cir1 {
  from {
    opacity: 1;
    transform: scale(0) translateX(-20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes line1 {
  from {
    opacity: 1;
    d: path('M130 81.3824H126.698');
  }

  to {
    visibility: visible;
    opacity: 1;
    animation-delay: 3s;
    d: path('M467.729 81.3824H126.698');
  }
}

@keyframes arrow1 {
  from {
    opacity: 1;
    d: path('M438.018 116.261L467.729 81.3824L436.726 40.0453');
  }

  to {
    opacity: 1;
    animation-delay: 3s;
    d: path('M438.018 116.261L467.729 81.3824L436.726 40.0453');
  }
}

@keyframes alphabet-l {
  from {
    opacity: 1;
    d: path('M1117.68 131.323H797.574V38.3144H816.46V114.245H820V131.323Z');
  }

  to {
    visibility: visible;
    opacity: 1;
    animation-delay: 3s;
    d: path('M1117.68 131.323H797.574V38.3144H816.46V114.245H1117.68V131.323Z');
  }
}

@keyframes alphabet-a {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(-20deg);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: scale(1) rotate(0);
  }
}

@keyframes balloon {
  0% {
    opacity: 1;
    transform: scale(0) rotate(-40deg);
  }

  60% {
    opacity: 1;
    transform: scale(1) rotate(10deg);
  }

  100% {
    opacity: 1;
  }
}

@keyframes line2 {
  from {
    opacity: 1;
    d: path('M140 489.586H137.032');
  }

  to {
    visibility: visible;
    opacity: 1;
    d: path('M273.962 489.586H137.032');
  }
}

@keyframes cir9 {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  40% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes line3 {
  from {
    opacity: 1;
    transform: scale(0);
    d: path('M330 489.586H330.8');
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    d: path('M478.064 489.586H330.8');
  }
}

@keyframes cir12 {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  40% {
    opacity: 1;
    transform: scale(1) translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes alphabet-e2 {
  0% {
    opacity: 1;
    d: path('M849.943 531.776H727.636V438.767H727V455.845H727V476.798H727V493.591H727V514.699H727V531.776H849.943Z');
  }

  100% {
    visibility: visible;
    opacity: 1;
    visibility: visible;
    d: path('M849.943 531.776H727.636V438.767H849.684V455.845H746.522V476.798H845.654V493.591H746.522V514.699H849.968V531.776H849.943Z');
  }
}

@keyframes alphabet-v {
  0% {
    opacity: 1;
    transform: scale(0) rotate(-45deg);
  }

  50% {
    opacity: 1;
    transform: scale(1) rotate(20deg);
  }

  100% {
    opacity: 1;
  }
}

@keyframes line6 {
  from {
    opacity: 1;
    d: path('M615.768 565.802H620');
  }

  to {
    visibility: visible;
    opacity: 1;
    d: path('M615.768 565.802H1334');
  }
}

@keyframes sign {
  0% {
    opacity: 1;
    transform: scale(0) rotate(-40deg);
  }

  50% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }

  80% {
    opacity: 1;
    transform: rotate(20deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}


#rec1,
#rec2,
#rec3,
#rec4,
#rec5,
#rec6,
#rec7,
#rec8,
#rec9 {
  animation-fill-mode: forwards;
}
