.recruitWrap>p {
  font-size: var(--fs-18);
  padding: 3rem 0;
  border-bottom: 2px solid var(--point-color);
}


.recruitWrap>p strong {
  font-weight: 600;
  color: var(--point-color);
}

.recruitWrap h4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
}

.recruitLink {
  width: 100%;
  margin-bottom: 6rem;
}

.recruitLink ul {
  display: flex;
  margin-top: 6rem;
  border: 1px solid var(--point-color);
  border-radius: 4px;
  overflow: hidden;
}

.recruitLink ul li:first-of-type {
  width: 50%;
  background: var(--point-color);
  border: 1px solid var(--point-color);
}

.recruitLink figure {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  width: 100%;
  height: 100%;
}

.recruitLink figure img {
  position: absolute;
  height: 90%;
}

.recruitContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 5%;
}

.recruitContent h6 {
  font-weight: 700;
  margin-bottom: 6px;
}

.recruitContent p>span {
  display: block;
  color: var(--grey-six);
  font-size: var(--fs-12);
}

.recruitContent a {
  display: flex;
  align-items: center;
  font-size: var(--fs-12);
  color: var(--point-color);
  font-weight: 700;
  margin-top: 24px;
}

.recruitContent a img {
  width: 12px;
  margin-left: 3px;
  vertical-align: middle;
}

/* 근무 환경 */

.infoWrap h4 {
  margin-bottom: 2rem;
  text-indent: 24px;
}

.mapSample {
  width: 100%;
  aspect-ratio: 2/1;
  margin: 3rem 0;
  border-radius: 24px;
  overflow: hidden;
}

.contactInfo a {
  display: flex;
  width: 100%;
}

.contactInfo a img {
  /* width: 20%; */
  height: 18px;
  margin-right: 14px;
  vertical-align: middle;
}

address {
  margin-top: 3rem;
  margin-left: 3rem;
}

@media (min-width: 1024px) {
  .visitInfo>div {
    display: flex;
  }

  .mapSample {
    width: 70%;
    margin-right: 50px;
  }

  .infoWrap{
    margin-top: 20px;
    font-size: var(--fs-16);
  }
  .infoWrap h4{
    text-indent: 0;
  }

  .webFlex {
    display: flex;
  }

  .webFlex ul{
    flex: 1;
  }
  .webFlex ul:not(:last-child) {
    margin-right: 3rem;
  }

  .recruitContent h6 {
    font-size: var(--fs-24);
    margin-bottom: 3rem;
  }

  .recruitContent span {
    font-size: var(--fs-16);
  }
  .recruitContent a {
    font-size: var(--fs-16);
  }

  .recruitContent a img {
    width: 20px;
    margin-left: 6px;
    transition: all 0.3s;
  }

  .recruitContent a:hover img{
    transform: translateX(10px);
  }

  
.recruitContent p>span {
  font-size: var(--fs-16);
}
}

/* -------------------------------- 지원 내용 recruit-more.html 페이지 style */
.recruitMore {
  margin: 6rem 0 0;
  text-align: center;
}

.recruitMore a {
  display: inline-block;
  border-radius: 30px;
  padding: 3px 20px;
  background-color: var(--point-color);
  color: white;
  font-size: var(--fs-18);
}
.recruitImg {
  display: block;
  margin: 5rem 0;
  width: 100%;
  height: 100%;
}

.recruitImg img {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .recruitMore {
    box-sizing: border-box;
    height: auto;
    padding: 0 20%;
  }
  
  .recruitMore a {
    display: inline-block;
    border-radius: 15px;
    padding: 2rem 7rem;
    background-color: var(--point-color);
    color: white;
    font-size: var(--fs-16);
  }
  .recruitImg {
    display: block;
    margin: 5rem 0;
    width: 100%;
    height: 100%;
  }
}

