body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
}

.serviceHidden {
  position: relative;
  box-sizing: border-box;
  max-width: 100vw;
  height: fit-content;
}

.serviceAll {
  position: relative;
  box-sizing: border-box;
  left: 0;
  width: 100vw;
}

.serviceSlide {
  box-sizing: border-box;
  width: 100vw;
  padding-bottom: 3rem;
}

.serviceWrap {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  margin: 0 0 6rem;
}

.sectionPadding {
  padding: 12rem 3% 0;
}

.serviceSlide>section {
  width: 100vw;
  box-sizing: border-box;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
}

.serviceWrap .bgText {
  opacity: 0.03;
  position: absolute;
  top: 2px;
  left: 0;
  z-index: -1;
  font-size: clamp(1.5rem, 20vw + 1rem, 50rem);
  line-height: 120px;
  color: black;
  font-weight: 700;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  white-space: nowrap;

  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none !important;
}

.serviceWrap>p {
  font-size: var(--fs-18);
  padding: 3rem 0;
}

.linkFigure {
  position: relative;
  width: 100%;
}

.aLink {
  position: sticky;
  width: 100%;
  height: 100%;
  z-index: 900;
  top: 1rem;
  font-size: var(--fs-15);
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 2px solid var(--point-color);
}


h4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  border-top: 2px solid var(--point-color);
}

.section2 h4:last-of-type {
  border-top: none;
}

.section2 {
  padding-top: 12rem;
}

.aLink a {
  color: var(--grey-color);
  opacity: 0.5;
}

.aLink a.active,
.aLink a:hover {
  opacity: 1;
  font-weight: 700;
}

.imgWrap {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 2/1;
  border-radius: 8px;
  overflow: hidden;
}

.imgWrap>img {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


figure figcaption {
  box-sizing: border-box;
  display: inline-block;
  font-size: var(--fs-18);
  color: var(--grey-six);
  text-align: right;
  padding: 2rem 0;
}

figure figcaption p {
  margin-bottom: 3rem;
}

figure div img:not(:first-child) {
  margin-top: 6rem;
}

/* 좌우 버튼 */
.navigation {
  box-sizing: border-box;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 10rem;
  line-height: 20px;
}

.navigation a {
  cursor: pointer;
  color: var(--grey-six);
}

.navigation a img {
  height: 20px;
  margin-right: 6px;
  vertical-align: middle;
}

.navigation a:last-of-type {
  float: right;
  margin-top: 10px;
}

.navigation a:last-of-type img {
  transform: rotate(180deg);
  margin-right: 0;
  margin-left: 6px;
}


/* 디자인 섹션 */
.designMargin {
  margin: 3rem 10%;
}

.designMargin p {
  font-size: var(--fs-18);
  font-weight: 400;
  margin: 2rem 0;
}

.designPadding {
  padding: 0 6%;
}

figure.figurebg:first-of-type {
  background: rgba(0, 0, 0, 0.05);
}

.webImg {
  display: none;
}

figure.designImg {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 3rem 10%;
}

figure.designImg img {
  width: 100%;
}

/*  개발 섹션 */
.section3 h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section3 h4 a {
  font-weight: 400;
  font-size: var(--fs-14);
  color: var(--grey-color);
}

.serviceWrap>ul li {
  position: relative;
  min-height: 320px;
  margin-top: 4rem;
  padding: 28px 5%;
  border: 1px solid var(--point-color);
  border-radius: 6px;
}

.serviceWrap>ul li:after {
  content: '';
  position: absolute;
  width: 90%;
  height: 3px;
  top: 45px;
  right: 0;
  background: var(--point-color);
  z-index: -1;
}

.serviceWrap>ul li h6 {
  font-size: var(--fs-18);
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 18px;
}

.serviceWrap>ul li p {
  font-size: 1.8rem;
  color: var(--grey-color);
}

.serviceWrap>ul li span {
  box-sizing: border-box;
  display: inline-block;
  border: 3px solid var(--point-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 29px;
  text-align: center;
  font-size: var(--fs-18);
  background: white;
  color: var(--grey-color);
}

@media (min-width: 1024px) {

  .webLine {
    border-bottom: 2px solid var(--point-color);
    margin-bottom: 2rem;
  }

  .section3 h4 a {
    font-size: var(--fs-16);
  }

  .sectionPadding {
    padding: 0 18%;
  }

  .designMargin {
    margin: 3rem 18%;
  }

  .section2 {
    padding-top: 0;
  }

  .designPadding {
    padding: 0 18%;
  }

  .serviceWrap .bgText {
    left: 80px;
    line-height: 240px;
  }

  .linkFigure {
    display: flex;
    align-items: flex-start;
  }

  section h4 {
    font-size: var(--fs-32);
    border-bottom: 0;
    border-top: 0;
  }

  .aLink {
    display: flex;
    top: 0;
    width: 20%;
    height: 400px;
    margin-right: 5%;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--fs-24);
    border-top: none;
  }

  .aLink a {
    margin-bottom: 4rem;
  }

  .navigation {
    position: sticky;
    z-index: 200;
    bottom: 10rem;
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
  }

  .navigation a:last-of-type {
    margin-top: 0;
  }

  figure figcaption {
    text-align: left;
  }

  figure figcaption strong {
    position: relative;
  }

  figure figcaption strong:before {
    content: '';
    position: absolute;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 10%;
    z-index: -1;
    background-color: #90ACF7;
    opacity: 0.3;

  }

  .mobileImg {
    display: none;
  }

  .webImg {
    display: block;
  }

  figure.designImg {
    padding: 10rem 20%;
  }

  /*  개발 섹션 */
  .serviceWrap>ul {
    display: flex;
    flex-wrap: wrap;
  }

  .serviceWrap>ul li {
    flex: 1;
  }

  .serviceWrap>ul li:after {
    width: 80%;
  }

  .serviceWrap>ul li:not(:last-child) {
    margin-right: 2.5rem;
  }

}